body{
    background:url('bg.jpg');
    background-size: 100%;
}
#clock{
    position: relative;
    height:30vw;
    width:30vw;
    margin: auto;
    background: url("clock.jpg");
    background-size: 100%;
    
   
    
}
#hours,#minutes,#seconds{
    position: absolute;
    background:white;
    border-radius: 10%;
    transform-origin: bottom;
}
#hours{
    width: 2%;
    height: 17%;
    top: 33%;
    left: 49.4%;
    opacity: 0.8;
    

}
#minutes{
    width: 1.5%;
    height: 21%;
    top: 28%;
    left: 49.7%;
    opacity: 0.8;
    
    
}
#seconds{
    background-color: red;
    width: 1%;
    height: 24%;
    top: 26%;
    left: 49.98%;
    opacity: 0.8;
}
